.dashboard-sidebar{
 height: 80vh;
 background-color: rgb(0 92 71);
 text-align: center;
}
.dashboard-sidebar ul{
 list-style: none;
}
.dashboard-sidebar ul li{
 border-bottom: 2px solid gray;
 padding: 10px 0;
}
.dashboard-sidebar ul li a {
 text-decoration: none;
 color: white;
}